<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ignorar archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todas las demás solicitudes al index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>